/*span.css-10trblm.e16nr0p33
{
    background-color:blueviolet;
    color:lightyellow;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
div.css-177yq5e.e16nr0p33{
    background-color:blueviolet;
}*/
h1.heading{
    background-color:blueviolet;
    color:lightyellow;
    border-radius: 20px;
    text-align: center;
}
p.style{
    background-color:black;
    color:white;
    border-radius: 20px;
    text-align: center;
}