div.st-emotion-cache-1n76uvr.e1f1d6gn2{
    background-color:black;
    color:lightyellow;
    border-radius: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
div.st-emotion-cache-1sno8jx.e1nzilvr4 > hr{
    background-color:white;
}